

@import url('https://fonts.googleapis.com/css2?family=Teko&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* ------------------------- START OF GENERAL CSS ------------------------- */

.hover-underline-animation {
    display: inline-block;
    position: relative;
  }
.hover-underline-animation:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #eae6e6;
    transition: transform 0.35s ease-out;
}
.hover-underline-animation:hover:after {
    transform: scaleX(1);
}
h1{
    color: black;
    font-family: 'Poppins', sans-serif;
}
p{
    font-family: 'Poppins', serif;
}
h3{
    font-family: 'Poppins', serif;
}
h4{
    font-family: 'Poppins', serif;
}

/* ------------------------- START OF NAVBAR CSS ------------------------- */
body {
    margin: 0;
    padding: 0;
}
.container {
    padding-top: 0;
}
.navbar-brand{
    width: 100px;   
}
.nav-item{
    font-family: 'Teko', sans-serif;
}
.nb-background-color{                /* navbar background color */
    background-color: #ADD8AE;
}
.nbMenuItem{                        /*navbar link text properties*/
    color: whitesmoke;
    font-size: 32px;
    margin-left: 40px;
    margin-right: 40px;
}

/* ------------------------- START OF INDEX CSS ------------------------- */

.sec-01 {
    background-image: url('img/homebg.png');
    background-size: cover;
    background-position: center;
}
.html{
    scroll-behavior: smooth;
}
.index-container-title{
    position: relative;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 20vh;
    padding-bottom: 25vh;
    

}
.index-container-title span{
    color:#ee5757;
    font-size: 3vw;
}
.index-container-title .auto-type{
    color:#ee5757;
    font-size: 3vw;
}
.index-container-title h1{
    font-size: 10vw;
}
.index-container-title p{
    font-size: 3vw;
}
.index-container{
    position: relative;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.content{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.image{
    position: relative;
    width: 40vw;
    height: 55vh;
    z-index: 333;
}
.image img{
    z-index: 222;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; 
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}
.content .text-box{
    z-index: 111;
    background: rgba(255, 168, 168, 0.6);
    backdrop-filter: blur(20px);
    margin-left: 40px;
    max-width:  500px;
    border: 1px solid rgba(255, 168, 168, 0.1);
    border-radius: 10px;
    transform: translate(-20px, 70px);
    padding: 1vw
}
.content .text-box h3{
    font-size: 2em;
    margin-bottom: 10px;
}
.indexContainer1, .indexContainer2, .indexContainer3{
    box-sizing:border-box;
    outline:none;
    font-family: 'Poppins';
    min-height: 100vh;
    display: grid;
    place-items: center;
}
.indexContainer1, .indexContainer3{
    background:#ADD8AE;
}
.row1{
    width:80%;
    max-width: 1170px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 50px;
    overflow-x: hidden;
    padding: 3rem;
}
.row1 .imgWrapper{
    overflow:scroll;
    align-content: center;
    margin-left:5vw;
}
.row1 .imgWrapper img{
    align-content: center;
    width: auto;
    height: auto;
    object-fit:fill;
    transition: 0.3s;
}
.row1 .imgWrapper:hover img{
    transform: scale(1.25);
}
.row1 .imgWrapper1{
    overflow: hidden;
    align-content: center;
}
.row1 .imgWrapper1 img{
    align-content: center;
    width: 100%;
    height: 60vh;
    object-fit:fill;
    transition: 0.3s;
}
.row1 .imgWrapper1:hover img{
    transform: scale(1.25);
}
.row1 .contentWrapper{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 30px;
}
.row1 .contentWrapper h2{
    font-size: 3vw;
    font-weight: 700;
    color: black;
    padding-bottom: 20px;
}
.row1 .contentWrapper p{
    font-size:1.3vw;
    line-height: 5vh;
    padding-bottom: 2.5vh;
}
.row1 .contentWrapper ul{
    font-size:1.3vw;
    line-height: 5vh;
}
.row1 .contentWrapper a{
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    background-color: #333238;
    color: white;
    padding: 15px 2vw;
    letter-spacing: 1px;
    font-size:1.3vw;
    user-select:none;
}


@media (max-width: 768px) {
    .index-container-title h1 {
      font-size: 36px;
    }
    .index-container-title span,
    .index-container-title .auto-type,
    .index-container-title p {
      font-size: 18px;
    }
    .content {
      flex-direction: column;
    }
    .image {
      width: 80vw;
      height: 40vh;
    }
    .content .text-box {
      margin-left: 0;
      transform: translate(0, 20px);
      max-width: 80vw;
    }
    .row1 {
      grid-template-columns: 1fr;
      padding: 1rem;
    }
    .row1 .contentWrapper h2 {
      font-size: 24px;
    }
    .row1 .contentWrapper p,
    .row1 .contentWrapper ul,
    .row1 .contentWrapper a {
      font-size: 16px;
    }
  }

/* ------------------------- START OF AUTHORS CSS ------------------------- */

.authorsLanding{
    background-color: white;
    min-height: 70vh;
    padding-top: 100px;
    margin-bottom: -50px;
}
.authorsTitle{
    font-family: 'Poppins';
    font-weight: bold;
    font-size: 10vh;
    margin-left: 12vw;
    display: inline-block;
}
.authorsImg{
    display: inline-block;
    width: 35vw;
    margin-left: 90px;
    padding-bottom: 110px;
}
.authorsTitle1{
    color:#ee5757;
}
.authors{
    padding-top: 10px;
    padding-bottom: 40px;
}
.authorCards{
    margin-left:80px;
    margin-right:80px;
    margin-top:0px;
    box-sizing: border-box;
    display: grid;
    place-items: center center;
    grid-template-columns: repeat(auto-fit, minmax(400px,1fr));
    padding:20px;
    grid-gap:40px;
}
.authorsCard{
    width: 400px;
    height: auto;
    padding-top: 25px;
    padding-bottom: 0px;
    background-color: #ADD8AE;
    border-radius:20px;
    box-shadow: 0 0 30px rgba(0,0,0,0.18);
}
.authorsImage{
    position: relative;
    clip-path: polygon(0 0,100% 0, 100% 85%, 0 100%);
}
.authorsImage img{
    width: 70%;
    height: 70%;
    display: block;
    border-radius: 30%;
    margin-left: auto;
    margin-right: auto;
}
.authorsImage:after{
    content:"";
    height:100%;
    width:100%;
    position:absolute;
    top:0;
    left:0;
    border-radius: 20px 20px 0 0;
    opacity: 0.7
}
.authorsContent{
    padding: 20px 10px;
}
.authorsContent>h3{
    color:#fff;
    font-weight:600;
    font-size: 30px;
    text-align: center;
}
.authorsContent>p{
    text-align: center;
    color:#000000;
    padding-left: 15px;
    padding-right: 15px;
    justify-content:center;
    font-size: 15px;
    line-height:30px;
    font-weight:400;
}

@media (max-width: 768px) {
    .authorsTitle {
      font-size: 24px;
      margin-left: 20px;
    }
    .authorsImg {
      width: 80vw;
      margin-left: 20px;
    }
    .authorCards {
      margin-left: 20px;
      margin-right: 20px;
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }
  }

/* ------------------------- START OF HOW TO USE CSS ------------------------- */

:root{
    --primaryColor: black;
    --softColor:#fedddd;
    --whiteColor: #f5f5f5;
    --blackColor: #222;
}
.howToLanding{
    background-color: white;
    min-height: 70vh;
    margin-bottom: 30px;
    padding-top: 100px;
}
.howToTitle{
    font-family: 'Poppins';
    font-weight: bold;
    font-size: 8vh;
    margin-left: 12vw;
    display: inline-block;
}
.howToImg{
    display: inline-block;
    width: 35vw;
}
.howToTitle1{
    color:#ee5757;
}
.sideBar{
    width:20vw;
    height:auto;
    position: sticky;
    font-family: 'Poppins';
    top: 50px;
    bottom:100px;
    background-color:rgb(255, 201, 102);  
    margin-left: 5vw;
    margin-bottom:50px;
    border-radius:15%;
    display: inline-block;
    padding:17px;
    font-size: 1.1vw;
    border: 2px solid rgb(0, 0, 0);
    overflow: auto;
}
.sideBar strong{
    font-size: 1.5vw;  
}
.sideBar p{
    font-family: 'Poppins';
    font-size: 1.8vw;
    text-decoration: underline;
    text-align: center;
}
.instructions{
    background-color: #ADD8AE;
    display: inline-block;
    width: 64vw;
    padding:25px;
    margin-left: 6vw;
    margin-bottom: 45px;
}
.instructionItemImg{
    width: 50vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius:15px;
    margin-top:2.3vh;
    margin-bottom:2.3vh;

}
.instructionItem h2{
    font-family: 'Poppins';
    font-size: 2.8vw;
    color:var(--primaryColor);
}
.instructionItem p{
    font-family: 'Poppins';
    font-size: 1.5vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.faq{
    height: auto;
    margin: 0;
    padding:0;
    box-sizing: border-box;
    outline:none;
    width:100%;
    padding:3%;
    background-color: var(--softColor);
    font-family: 'Poppins', sans-serif;
}
.faqHeader{
    background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(img/bg3.png);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5% 3%;
    border-radius: 30px;
    max-height: 380px;
    color: var(--whiteColor);
}
.faqHeader-title{
    color: var(--whiteColor);
    font-family: 'Poppins';
    font-size: 5vw;
}
.faqHeader-desc{
    color: var(--whiteColor);
    font-family: 'Poppins';
    text-align: center;
    font-size: 2vw;
}
.faq1{
    width:100%;
    display:flex;
    flex-wrap:wrap;
    align-items: flex-start;
    padding:3%
}
.faq1-name{
    flex: 0.5;
    padding: 2% 2% 0 0;
}
.faq1-header{
    padding: 5% 0 0 0;
    font-size: 40px;
    letter-spacing:2;
    font-family: 'Poppins';
}
.faq1-img{
    width:100%;
    max-width:400px;
}
.faq1-box{
    flex:1;
    min-width: 320px;
    padding: 2% 0 4% 4%;
    border-left: 2px solid var(--primaryColor);
}
.faq1-wrapper{
    width:100%;
    padding:1.5rem;
    border-bottom:1px solid var(--blackColor);
}
.faq1-title{
    display:block;
    position:relative;
    width:100%;
    letter-spacing:1.2;
    font-size:24px;
    font-weight:600;
    color:var(--primaryColor);
}
.faq1-title:after{
    width:10px;
    height:10px;
    content:"";
    float:right;
    border-style: solid;
    border-width: 2px 2px 0 0;
    transform: rotate(135deg);
    transition: 0.4s ease-in-out;
}
.faq1-detail{
    line-height: 1.5;
    letter-spacing:1;
    max-height:0;
    overflow: hidden;
    transition: 0.3s ease-in-out;
    font-size:14px;
}
.faq1-trigger{
    display:none;
}
.faq1-trigger:checked + .faq1-title + .faq1-detail {
    max-height:300px;
}

/* ------------------------- START OF REGISTER/SIGN IN CSS ------------------------- */

.card{
    background-color: #ADD8AE;
}
.container1{
    margin-top:70px;
    margin-bottom:70px;
}

/* ------------------------- START OF HOME PAGE CSS ------------------------- */

@import url("https://pro.fontawesome.com/releases/v6.0.0-beta1/css/all.css");
@import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@300;500;700&display=swap");


body {
  --color: rgba(30, 30, 30);
  --bgColor: rgba(255, 255, 255);
  min-height: 100vh;
  align-content: center;
  gap: 4em;
  font-family: "Exo 2", sans-serif;
  color: var(--color);
  background: var(--bgColor);
  padding-bottom: 60px;
}

h1 { text-align: center }

ol {
  width: min(60rem, 90%);
  margin-inline: auto;

  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;

  list-style: none;
  counter-reset: stepnr;
}

li:nth-child(6n + 1) { --accent-color: #ADD8AE }
li:nth-child(6n + 2) { --accent-color: #ADD8AE }
li:nth-child(6n + 3) { --accent-color: #ADD8AE }
li:nth-child(6n + 4) { --accent-color: #ADD8AE }
li:nth-child(6n + 5) { --accent-color: #ADD8AE }
li:nth-child(6n + 6) { --accent-color: #ADD8AE }

ol li {
  counter-increment: stepnr;
  width: 18rem;
  --borderS: 2rem;
  aspect-ratio: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: calc(var(--borderS) + 2rem);
  position: relative;
}
ol li::before,
ol li::after {
  inset: 0;
  position: absolute;
  border-radius: 50%;
  border: var(--borderS) solid var(--bgColor);
  line-height: 1.1;
}
ol li::before {
  content: counter(stepnr);
  color: var(--accent-color);
  padding-left: 10rem;
  font-size: 12rem;
  font-weight: 700;
  overflow: hidden;
}

ol li::after {
  content: "";
  filter: drop-shadow(-0.25rem 0.25rem 0.0675rem rgba(0, 0, 0, 0.75)) blur(5px);
}

ol li > * { width: 7.5rem }
ol li .icon { font-size: 2rem; color: var(--accent-color); text-align: center }
ol li .title { font-size: 2rem; font-weight: 500 }
ol li .descr { font-size: 0.8rem; font-weight: 300 }

.credits { margin-top: 2rem; text-align: right }
.credits a { color: var(--color) }


.cards-container {
    padding-top: 60px;
    display: flex;
    justify-content: center; /* Centers the cards horizontally */
    align-items: flex-start; /* Aligns the cards to the top */
    gap: 60px; /* Adds space between the cards */
    padding-bottom: 30px;
  }

.card-hover {
    width: 360px;
    height: 500px;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 32px -10px rgba(0, 0, 0, 0.08);
  }
  
  .card-hover:has(.card-hover__link:hover) .card-hover__extra {
    transform: translateY(0);
    transition: transform 0.35s;
  }
  
  .card-hover:hover .card-hover__content {
    background-color: #DEE8C2;
    bottom: 100%;
    transform: translateY(100%);
    padding: 50px 60px;
    transition: all 0.35s cubic-bezier(0.1, 0.72, 0.4, 0.97);
  }
  
  .card-hover:hover .card-hover__link {
    opacity: 1;
    transform: translate(-50%, 0);
    transition: all 0.3s 0.35s cubic-bezier(0.1, 0.72, 0.4, 0.97);
  }
  
  .card-hover:hover img {
    transform: scale(1);
    transition: 0.35s 0.1s transform cubic-bezier(0.1, 0.72, 0.4, 0.97);
  }
  
  .card-hover__content {
    width: 100%;
    text-align: center;
    background-color: #86B971;
    padding: 0 60px 50px;
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translateY(0);
    transition: all 0.35s 0.35s cubic-bezier(0.1, 0.72, 0.4, 0.97);
    will-change: bottom, background-color, transform, padding;
    z-index: 1;
  }
  
  .card-hover__content::before,
  .card-hover__content::after {
    content: '';
    width: 100%;
    height: 120px;
    background-color: inherit;
    position: absolute;
    left: 0;
    z-index: -1;
  }
  
  .card-hover__content::before {
    top: -80px;
    clip-path: ellipse(60% 80px at bottom center);
  }
  
  .card-hover__content::after {
    bottom: -80px;
    clip-path: ellipse(60% 80px at top center);
  }
  
  .card-hover__title {
    font-size: 1.5rem;
    margin-bottom: 1em;
  }
  
  .card-hover__title1 span {
    color: #0c2ad3;
  }
  .card-hover__title2 span {
    color: #2d7f0b;
  }

  
  .card-hover__text {
    font-size: 0.75rem;
  }
  
  .card-hover__link {
    position: absolute;
    bottom: 1rem;
    left: 50%;
    transform: translate(-50%, 10%);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-decoration: none;
    color: #2d7f0b;
    opacity: 0;
    padding: 10px;
    transition: all 0.35s;
  }
  
  .card-hover__link:hover svg {
    transform: translateX(4px);
  }
  
  .card-hover__link svg {
    width: 18px;
    margin-left: 4px;
    transition: transform 0.3s;
  }
  
  .card-hover__extra {
    height: 50%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    font-size: 1.5rem;
    text-align: center;
    background-color: #86b971;
    padding: 80px;
    bottom: 0;
    z-index: 0;
    color: #dee8c2;
    transform: translateY(100%);
    will-change: transform;
    transition: transform 0.35s;
  }
  
  .card-hover__extra span {
    color: #2d7f0b;
  }
  
  .card-hover img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    z-index: -1;
    transform: scale(1.2);
    transition: 0.35s 0.35s transform cubic-bezier(0.1, 0.72, 0.4, 0.97);
  }
  
.home-sec{
    background-image: url('img/homebg.png');
}
/* Tab Container */
.tab-container {
    margin-top: 20px;
}

/* Tab Links */
.nav-tabs .nav-link {
    color: #333;
    font-weight: 600;
    border: 1px solid #dee2e6;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    transition: all 0.3s ease-in-out;
}
.nav-tabs li.active{
    background-color: white;
    color: black;
}
.nav-tabs .nav-link:hover {
    background-color: #e0e0e0; /* Light gray color */
    color: black;
}

/* Tab Content */
.tab-content {
    padding: 20px;
    border: 1px solid #dee2e6;
    border-top: none;
    border-bottom-left-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
}

/* Hide tab container initially */
.tab-container {
    display: none;
}
.homeLanding{
    background-color: white;
    min-height: 60vh;
    margin-bottom: 30px;
    padding-top: 12vh;
}
.tab-content h1{
    color: #ADD8AE;
}
.homeImg{
    display: inline-block;
    width: 38vw;
    margin-left: 90px;
    padding-bottom: 0px;
}
.homeLandingText{
    font-family: 'Poppins';
    margin-left: 12vw;
    display: inline-block;
}
.homeTitle{
    font-weight: bold;
    font-size: 5vw;
}

.homeTitle span{
    color: green;
}
#welcome{
    color:#027701; 
    font-weight: bold;
    font-size: 5vw;
}
.collectingData{
    font-size: 2.7vw;
}
.homeContainer{
    text-align: left;
    background-color: #ADD8AE;
}
.buttonContainer{
    margin-left: 6.5vw;
}
#startCollection, #endCollection{
    display: inline-block;
    background-color: rgb(67, 64, 64); /* Green */
    border-radius: 10%;
    color: white;
    padding: 15px 32px;
    font-size: 20px;
    font-family:'Poppins', 'Arial Narrow', Arial, sans-serif;
    margin-left: 4vw;
    margin-right: 4vw;
    margin-bottom: 40px;
}
#startCollection:focus {
    background: #e5e5e5;
    outline: none;
    -webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
       -moz-box-shadow: inset 0px 0px 5px #c1c1c1;
            box-shadow: inset 0px 0px 5px #c1c1c1;
}
#endCollection:focus {
    background: #e5e5e5;
    outline: none;
    -webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
       -moz-box-shadow: inset 0px 0px 5px #c1c1c1;
            box-shadow: inset 0px 0px 5px #c1c1c1;
}
#collectionStatus{
    display: inline-block;
    font-size: 2.5vw;
    font-family:'Poppins', 'Arial Narrow', Arial, sans-serif;
}
.collectionStatus1{
    display: inline-block;
    font-size: 2.5vw;
    margin-left: 4vw;
    font-family:'Poppins', 'Arial Narrow', Arial, sans-serif;
}
.homeContainer1{
    text-align: left;
    background-color: #ffa8a8;
    margin-top:50px;
}
table, th, td{
    border:  1px solid black;
    border-collapse: collapse;
    text-align: center;
    padding: 0.6vw;
    font-family: 'Poppins';
}
th{
    font-size: 2vw;
}
td{
    font-size: 1.3vw;
}
.homeTable {
    margin-left: 12vw;
    margin-right: 12vw;
    margin-top: 7.5vh;
    width: auto;
}
.data-table{
    padding-top: 20px;
    padding-bottom: 40px;
    background-color: white;
}
@media (max-width: 768px) {
    .homeImg {
      width: 50vw;
      margin-left: 20px;
    }
    .homeLandingText {
      margin-left: 20px;
    }
    .homeTitle,
    #welcome {
      font-size: 24px;
    }
    .collectingData {
      font-size: 18px;
    }
    .buttonContainer {
      margin-left: 20px;
    }
    #startCollection,
    #endCollection {
      font-size: 16px;
      padding: 10px 20px;
      margin-left: 10px;
      margin-right: 10px;
    }
    #collectionStatus,
    .collectionStatus1 {
      font-size: 18px;
      margin-left: 10px;
    }
  }

/* ------------------------- START OF FOOTER CSS ------------------------- */

.footer{
    background-color: #ADD8AE;
}
.icon-white{
    color: #FFFFFF;
}

.dollar-sign{
    font-size: 50px;
}
.wrapper {
    width: 100%;
    max-width: 1090px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 60px;
    padding-top: -210px;
    padding-bottom: 60px;
  }
  
  .wrapper .card-home5 {
    background: #fff;
    width: calc(33% - 20px);
    text-align: center;
    padding: 15px 30px 30px 30px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
  }
  
  .wrapper .card-home5 .top {
    height: 130px;
    background: #0b8c4c;
    color: #fff;
    padding: 12px 0 0 0;
    clip-path: polygon(0 0, 100% 0, 100% 53%, 50% 100%, 0 53%);
  }
  
  .wrapper .card-home5 .top .title {
    font-size: 27px;
    font-weight: 600;
  }
  
  .wrapper .card-home5 .top .price {
    font-size: 40px;
    font-weight: 600;
    margin-top: -10px;
  }
  
  .wrapper .card-home5 .top .price span {
    font-size: 20px;
  }
  
  .wrapper .card-home5 .desc {
    margin-top: 15px;
    font-size: 16px;
  }
  
  .wrapper .card-home5 .features .item {
    margin-top: 25px;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
  }
  
  .wrapper .card-home5 .features .item::before {
    position: absolute;
    content: "";
    width: 100%;
    background: #ddd;
    height: 1px;
    left: 0;
    top: -12px;
    border-radius: 25px;
  }
  
  .wrapper .card-home5 .features .item i {
    color: #2db94d;
  }
  
  .wrapper .card-home5 .features .item i.fa-times {
    color: #cd3241;
  }
  
  .wrapper .card-home5 .btn {
    display: block;
    height: 42px;
    width: 100%;
    background: #0b8c4c;
    color: #fff;
    outline: none;
    border: none;
    margin-top: 30px;
    border-radius: 3px;
    font-size: 18px;
    letter-spacing: 1px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .wrapper .card-home5 .btn:hover {
    filter: brightness(90%);
  }
  
  @media (max-width: 1000px) {
    .wrapper .card-home5 {
      width: calc(50% - 20px);
      margin-bottom: 30px;
    }
  }
  
  @media (max-width: 715px) {
    .wrapper .card-home5 {
      width: 100%;
    }
  }

/* ------------------------- INDEX CAUROSEL ------------------------- */
:root {
	--rotate-speed: 40;
	--count: 8; /* Default count, the DOM element should override this */
	--easeInOutSine: cubic-bezier(0.70, 0, 0.70, 0);
	--easing: cubic-bezier(0.000, 0.37, 1.000, 0.63);
}
.void {
	max-width: 1024px;
	position: relative;
	aspect-ratio: 1 / 1;
}
#card-list ul:hover * {
	animation-play-state: paused;
}
#card-list {
	list-style-type: none;
	margin: 0;
	padding: 0;
	position: relative;
	width: 100%;
	aspect-ratio: 1 / 1;
	outline: 2px dotted magenta;
	z-index: 1;
}
.card-li {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
/* 	outline: 2px dashed cyan; */
	width: 100%;
	animation: rotateCW calc(var(--rotate-speed) * 1s) var(--easing) infinite;
}
.card {
	width: 27%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 16px 24px;
	gap: 8px;
	background: #FFFFFF;
	box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1), 0px 16px 32px rgba(0, 0, 0, 0.1);
	border-radius: 12px;
	font-family: 'Poppins', sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 20px;
	color: #535062;
	animation: rotateCCW calc(var(--rotate-speed) * 1s) var(--easing) infinite;
}
a {
	text-decoration: none;
	color: unset;
}
.model-name {
	font-weight: 500;
	font-size: 18px;
	line-height: 150%;
	color: #fc4b4b;
	display: block;
}
svg {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 0;
}
li:nth-child(2), li:nth-child(2) .card {
	animation-delay: calc((var(--rotate-speed)/var(--count)) * -1s);
}
li:nth-child(3), li:nth-child(3) .card {
	animation-delay: calc((var(--rotate-speed)/var(--count)) * -2s);
}
li:nth-child(4), li:nth-child(4) .card {
	animation-delay: calc((var(--rotate-speed)/var(--count)) * -3s);
}
li:nth-child(5), li:nth-child(5) .card {
	animation-delay: calc((var(--rotate-speed)/var(--count)) * -4s);
}
li:nth-child(6), li:nth-child(6) .card {
	animation-delay: calc((var(--rotate-speed)/var(--count)) * -5s);
}
li:nth-child(7), li:nth-child(7) .card {
	animation-delay: calc((var(--rotate-speed)/var(--count)) * -6s);
}
li:nth-child(8), li:nth-child(8) .card {
	animation-delay: calc((var(--rotate-speed)/var(--count)) * -7s);
}
@keyframes rotateCW {
	from {
		transform: translate3d(0px, -50%, -1px) rotate(-45deg);
	}
	to {
		transform: translate3d(0px, -50%, 0px) rotate(-315deg);
	}
}
@keyframes rotateCCW {
	from {
		transform: rotate(45deg);
	}
	to {
		transform: rotate(315deg);
	}
}
@keyframes pulseGlow {
	from {
		background-size: 60%;
	}
	to {
		background-size: 100%;
	}
}
.center-circle {
	position: absolute;
	width: 20vw;
	aspect-ratio: 1 / 1;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	background: #FFFFFF;
	box-shadow: 0px 18px 36px -18px rgba(12, 5, 46, 0.3), 0px 30px 60px -12px rgba(12, 5, 46, 0.25);
	border-radius: 50%;
}
.second-circle {
	position: absolute;
	width: 40%;
	aspect-ratio: 1 / 1;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	background: #F5F4FE;
	opacity: 0.5;
	box-shadow: 0px 18px 36px -18px rgba(12, 5, 46, 0.3), 0px 30px 60px -12px rgba(12, 5, 46, 0.25);
	border-radius: 50%;
}
.last-circle {
	position: absolute;
	width: 66%;
	aspect-ratio: 1 / 1;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	background: #F5F4FE;
	opacity: 0.25;
	box-shadow: 0px 18px 36px -18px rgba(12, 5, 46, 0.3), 0px 30px 60px -12px rgba(12, 5, 46, 0.25);
	border-radius: 50%;
}
.crop {
	-webkit-mask-image: linear-gradient(90deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 1) 50%, rgba(0, 0, 0, 1));
}
.mask {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	width: 50%;
	animation: pulseGlow 5s linear infinite alternate;
	background-position: 100% 50%;
	background-repeat: no-repeat;
	background-image: radial-gradient(100% 50% at 100% 50%, rgba(255, 168, 168, 0.90) 0%, rgba(255, 168, 168, 0.85) 11.79%, rgba(255, 168, 168, 0.80) 21.38%, rgba(255, 168, 168, 0.75) 29.12%, rgba(255, 168, 168, 0.70) 35.34%, rgba(255, 168, 168, 0.65) 40.37%, rgba(255, 168, 168, 0.60) 44.56%, rgba(255, 168, 168, 0.55) 48.24%, rgba(255, 168, 168, 0.50) 51.76%, rgba(255, 168, 168, 0.45) 55.44%, rgba(255, 168, 168, 0.40) 59.63%, rgba(255, 168, 168, 0.35) 64.66%, rgba(255, 168, 168, 0.30) 70.88%, rgba(255, 168, 168, 0.25) 78.62%, rgba(255, 168, 168, 0.20) 88.21%, rgba(255, 168, 168, 0) 100%);
}
.mask:after {
	position: absolute;
	width: 1px;
	height: 100%;
	right: 0;
	display: block;
	background-image: linear-gradient(180deg, rgba(255, 168, 168, 0) 0%, #ee5757 100%, rgba(255, 168, 168, 0) 100%);
}

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;600&display=swap');
.upgrade-container{
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap; /* Ensure wrapping on smaller screens */
    padding: 20px;
}
.card-alt {
    justify-content: center;
    align-items: center;
    position: relative;
    height: 400px;
    width: 400px;
    margin: 10px 0;
    transition: all 2.3s ease;
    perspective: 1200px;
}
.card-alt:hover .cover-alt {
	transform: rotateX(0deg) rotateY(-180deg);
}
.card-alt:hover .cover-alt:before {
	transform: translateZ(30px);
}
.card-alt:hover .cover-alt:after {
	background-color: black;
}
.card-alt:hover .cover-alt h1 {
	transform: translateZ(100px);
}
.card-alt:hover .cover-alt .price-alt {
	transform: translateZ(60px);
}
.card-alt:hover .cover-alt a {
	transform: translateZ(-60px) rotateY(-180deg);
}

.cover-alt {
	position: absolute;
	height: 100%;
	width: 100%;
	transform-style: preserve-3d;
	transition: all 2.3s ease;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}
.cover-alt:before {
	content: '';
	position: absolute;
	border: 5px solid rgba(255, 255, 255, .5);
	box-shadow: 0 0 12px rgba(0, 0, 0, .3);
	top: 20px;
	left: 20px;
	right: 20px;
	bottom: 20px;
	z-index: 2;
	transition: all 2.3s ease;
	transform-style: preserve-3d;
	transform: translateZ(0px);
}
.cover-alt:after {
	content: '';
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	z-index: 2;
	transition: all 1.3s ease;
	background: rgba(0, 0, 0, .4);
}
.item-x {
	background-image: url('img/plant-tree.svg');
}
.item-y {
	background-image: url('img/coins.svg');
}
.item-z {
	background-image: url('img/rewards.svg');
}
.cover-alt h1 {
	font-weight: 600;
	position: absolute;
	bottom: 55px;
	left: 50px;
	color: white;
	transform-style: preserve-3d;
	transition: all 2.3s ease;
	z-index: 3;
	font-size: 3em;
	transform: translateZ(0px);
}
.cover-alt .price-alt {
	font-weight: 200;
	position: absolute;
	top: 55px;
	right: 50px;
	color: white;
	transform-style: preserve-3d;
	transition: all 2.3s ease;
	z-index: 4;
	font-size: 2em;
	transform: translateZ(0px);
}

.card-back-alt {
	position: absolute;
	height: 100%;
	width: 100%;
	background: #0b0f08;
	transform-style: preserve-3d;
	transition: all 2.3s ease;
	transform: translateZ(-1px);
	display: flex;
	align-items: center;
	justify-content: center;
}
.card-back-alt a {
	transform-style: preserve-3d;
	transition: transform 2.3s ease, background .5s ease;
	transform: translateZ(-1px) rotateY(-180deg);
	background: transparent;
	border: 1px solid white;
	font-weight: 200;
	font-size: 1.3em;
	color: white;
	padding: 14px 32px;
	outline: none;
	text-decoration: none;
}
.card-back-alt a:hover {
	background-color: white;
	color: #0b0f08;
}
