{% extends "layout.html" %}

{% block content %}

<head>
    <script type="module" src="{{url_for('static', filename='/js/register.js')}}" defer></script>
</head>
    <!--Sign Up -->
    <!------- Main Container --------->
    <div class="container1 d-flex justify-content-center align-items-center">
        <!-------- Login Container ---------->
        <div class="row border rounded-5 p-3 bg-white shadow box-area">
        <!---------- Left Box --------->
           <div class="col-md-6 rounded-4 d-flex justify-content-center align-items-center flex-column left-box" style="background: #ADD8AE;">
               <div class="featured-image mb-3">
                <img src="{{url_for('static', filename='/img/fulllogo.png')}}" class="img-fluid" style="width: 250px;">
               </div>
               <p class="text-white fs-2" style="font-family: 'Courier New', Courier, monospace; font-weight: 600; padding-top: -40px">Stay Updated</p>
               <p class="text-white text-wrap text-center" style="width: 17rem;font-family: 'Courier New', Courier, monospace; padding-top: -40px">Sign up to stay updated on your recycling and waste habits!</p>
           </div> 
        <!---------- Right Box ----------->
           <div class="col-md-6 d-flex justify-content-center align-items-center">
              <div class="row align-items-center">
                <div class="col-lg-12">
                    <br><h4 class="text-center">Account Registration</h4><br>
                    <!--Register form -->
                    <div class="signUpForm mb-5">     
                        <form>
                            <input type="text" placeholder="First Name" id="firstName" class="form-control mb-3">
                            <input type="text" placeholder="Last Name" id="lastName" class="form-control mb-3">
                            <input type="email" placeholder="Email" id="userEmail" class="form-control mb-3">
                            <input type="tel" placeholder="Phone Number" id="userPhone" class="form-control mb-3">
                            <input type="password" placeholder="Password" id="userPass" class="form-control mb-3">
                            <button type="button" id="submitData" name="submitData" class="btn btn-outline-primary mb-3 registerBtn w-100">Register</button>
                            <a href="{{url_for('signIn')}}" class="badge bg-secondary py-1 w-100" style="text-decoration: none;">Already have an account?</a> <!-- Redirects to signin.html-->
                        </form>
                    </div>
                </div>
              </div>
           </div> 
        </div>
    </div>
    
{% endblock content %}
