

{% extends "layout.html" %}

{% block content %}

<head>
    <script type="module" src="{{url_for('static', filename='/js/signIn.js')}}" defer></script>
</head>
    <!--Sign Up -->
    <div class="container1 d-flex justify-content-center align-items-center">
        <!-------- Login Container ---------->
        <div class="row border rounded-5 p-3 bg-white shadow box-area">
        <!---------- Left Box --------->
        <div class="col-md-6 rounded-4 d-flex justify-content-center align-items-center flex-column left-box" style="background: #ADD8AE;">
            <div class="featured-image mb-3">
             <img src="{{url_for('static', filename='/img/fulllogo.png')}}" class="img-fluid" style="width: 250px;">
            </div>
            <p class="text-white fs-2" style="font-family: 'Courier New', Courier, monospace; font-weight: 600; padding-top: -40px">Stay Updated</p>
            <p class="text-white text-wrap text-center" style="width: 17rem;font-family: 'Courier New', Courier, monospace; padding-top: -40px">Sign in to stay updated on your recycling and waste habits!</p>
        </div>
        <!---------- Right Box ----------->
           <div class="col-md-6 d-flex justify-content-center align-items-center">
              <div class="row align-items-center">
                <div class="col-lg-12">
                    <br><h4 class="text-center">Sign In</h4><br>
                    <!--Register form -->
                    <div class="signInForm mb-4">     
                        <form>
                            <input type="email" placeholder="Email" id="loginEmail" class="form-control mb-4">
                            <input type="password" placeholder="password" id="loginPassword" class="form-control mb-4">
                            <div class="form-check form-switch mb-3">
                                <input class="form-check-input" type="checkbox" role="switch" id="keepLoggedInSwitch">
                                <label class="form-check-label" for="flexSwitchCheckDefault">Keep me signed in</label>
                            </div>
                            <button type = "button" id="signIn" name="signIn" class="btn btn-outline-primary mb-3 w-100">Sign In</button>
                            <a href="{{url_for('register')}}" class="badge bg-secondary py-1 w-100" style="text-decoration: none;">Don't have an account?</a>  <!-- Redirects to register.html-->
                        </form>
                    </div>
                </div>
              </div>
           </div> 
        </div>
    </div>

{% endblock content %}